ul.nav.nav-sidebar
	li(ui-sref-active='active')
		a(ui-sref='instanceList') Instances
	li(ui-sref-active='active')
		a(ui-sref='tarifsList') Tarifs
	li(ui-sref-active='active')
		a(ui-sref='paymentsEdit') Payments
ul.nav.nav-sidebar
	li
		a(href='') Nav item
	li
		a(href='') Nav item again
	li
		a(href='') One more nav
	li
		a(href='') Another nav item
	li
		a(href='') More navigation
ul.nav.nav-sidebar
	li
		a(href='') Nav item again
	li
		a(href='') One more nav
	li
		a(href='') Another nav item