div(ng-controller='instanceListCtrl as instanceList')
	h1.page-header Instances
	h2.sub-header List
	.clearfix
		button.btn.btn-primary.pull-right(ng-click='instanceList.create()') Create
	.table-responsive
		table.table.table-striped(ng-if='instanceList.list.length')
			thead
				tr
					th #
					th Name
					th Count
					th.text-center Status
					th
			tbody
				tr(ng-repeat='instance in instanceList.list')
					td {{$index + 1}}
					td(ng-bind='instance.name')
					td(ng-bind='instance.count')
					td
						p.text-center(ng-if='instance.active')
							span.glyphicon.glyphicon-ok(aria-hidden='true')
						p.text-center(ng-if='!instance.active')
							span.glyphicon.glyphicon-remove(aria-hidden='true')
					td
						.btn-group
							button.btn.btn-primary.btn-sm(ng-click='instanceList.edit(instance)') Edit
							button.btn.btn-danger.btn-sm(ng-if='instance.active', ng-click='instanceList.toggle(instance)') Disable
							button.btn.btn-success.btn-sm(ng-if='!instance.active', ng-click='instanceList.toggle(instance)') Enable
		p(ng-if='!instanceList.list.length') No item in list
